*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(257, 40%, 49%) url(/4_5969525287514279609/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg) no-repeat;
    width: 100%;
}
.hu{
    margin-top: 2em;
    margin-left: 4em;
}
.hu img{
    height: 2.5em;
}
.container{
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4em;
}
.mock2{
    margin-left: 2.5em;
    margin-top: -10em;
    margin-right: 5em;
}
.mock2 h2{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.mock2 p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1em;
    line-height: 1.5em;
}
.reg{
margin-top: 2em;
}
.reg a:hover{
    background-color: hsl(300, 69%, 71%);
}
.reg a{
    display: inline-block;
    width: 8em;
    height: 2.5em;
    border: none;
    border-radius: 2.3em;
    background-color: white;
    padding: 8px 2em;
    font-family: 'Open Sans', sans-serif;
    
    text-decoration: none;
    color: hsl(257, 40%, 49%);
}
footer{
    margin-top: 2em;
    margin-left: 74em;
}
.social{
    margin: 0.4em;
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 50%;
    padding: 7px;
}
.social:hover{
    color: hsl(300, 69%, 71%);
}

@media only screen and (max-width: 600px) {
    body{
        background: hsl(257, 40%, 49%) url(/4_5969525287514279609/huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg) no-repeat;
    width: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .mock{
        margin-right: 30px;
    }
    .img{
        width: 100%;
        /* margin-right: ; */
    }
    .mock2{
        margin-top: 20px;
    }
    footer{
        margin: 0;
        margin-top: 4.5em;
        margin-left: 8.5em;
    }
    .mock2{
        text-align: center;
    }
    
}
